# Core functionality - changes here should be rare!
/src/app.py                   @meepybunny
/src/backend/database.py      @meepybunny
/src/backend/routers/auth.py  @meepybunny

# The frontend will need refactored soon to be more object oriented.
/src/static/   @meepybunny
